{% extends 'tweets/main.html' %}
{% block content  %}
<div class="row">
    <hr>
</div>
{% include 'tweets/scrollBar.html' %}

<div class="row">
<div class="col-md-5">
    <h4 style="display: inline">
    Latest Tweets From </h5>
    <h5 style="display: inline">
    @{{handle}}</h6>

    <hr>
    <div class="card card-body">
        <!--<img src="https://pbs.twimg.com/profile_images/1098244578472280064/gjkVMelR_400x400.png" class="rounded-circle" alt="...">	 -->
		
        <h4>Average Score: {{average}}</h4>
        <h4>Number of Tweets Observed: {{count}}&nbsp;</h4>
        <h4>Most Used Word:</h4>
        
		<a class="twitter-share-button"
  		href="https://twitter.com/intent/tweet?text=See%20my%20results%20with%20Tweet%20Meter%20 + http://127.0.0.1:8000/{{handle}}"
  		data-size="large">
          <button type="button" class="btn btn-primary"> ➤ Share Results on Twitter </button></a>
    </div>
	<hr> 
	<div class="card card-body">

		<h3> What do my score mean? </h3>
	</div>
	<hr>
	<div class="card card-body">

		<h3> Popular Accounts </h3>
	</div>
	<div class="row">
		<div class="card card-body">

			<h3> @nytimes </h3>
			<a href = "/nytimes"> 
				<button type="button" class="btn btn-primary btn-lg">Go</button>
			</a>

		</div>
		<div class="card card-body">

			<h3> @BillGates </h3>
			<a href = "/BillGates"> 
				<button type="button" class="btn btn-primary btn-lg">Go</button>
			</a>

		</div>
	</div>
</div>


<div class="col-md-7">
<hr>
<div class="card card-body">
<table class="table table-sm">
    <tr>
        <th>Tweet</th>
        <th>Score</th>
    </tr>
    {% for i in tweets %}
    {% if i.score != 0 %}
    <tr>
        <td>
            {% if i.score >= 58 %}
            <div style="background-color: #a1f1a1">
            <span class="badge rounded-pill bg-primary">Top Tweet</span>
                {% elif i.score >= 56%}
            <div style="background-color: #dbe8b5">
                {% elif i.score >= 54%}
                <div style="background-color: #e8e8b5">
                    {% elif i.score >= 52%}
                    <div style="background-color: #e8c2b5">
                        {% elif i.score < 52%}
                        <div style="background-color: #e77d7d ">
                            {% endif %}
                            {{ i.text }}
                        </div>
        </td>
        <td> {{i.score}}</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
</div>
</div>
</div>
{% endblock %}